* text=auto eol=lf

*.cs       text eol=crlf
*.xaml     text eol=crlf
*.csproj   text eol=crlf
*.sln      text eol=crlf
*.iss      text eol=crlf

*.ico      binary
*.dll      binary
*.exe      binary
*.pdb      binary
